* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: rgb(207, 19, 107) !important;

}

header {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 90%;
    text-align: right;
    margin: 14px auto;

}

nav ul li {

    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: rgb(207, 19, 107);
    letter-spacing: 2px;
    margin: 0 10px;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.strapline-container {
    margin: auto auto;
    width: 90%;
    height: 80%;
    text-align: center;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
}

.main-strapline {
    color: rgb(207, 19, 107);
    font-size: 58pt;
    text-transform: uppercase;
    margin: 50px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second-strapline {
    color: #fff;
    font-family: italic;
    font-size: 30px;
}

.section-title {
    font-family: poppin, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(207, 19, 107);
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-top: 20px;

}

.about-sectio {
    width: 100vw;
}

.about-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.left-box {
    width: 45%;
    color: rgb(207, 19, 107);
    text-align: justify;
    line-height: 220%;
    font-weight: 20px;
}

.right-box {
    width: 40%;
    margin-left: 6%;

}

.top-row {
    display: flex;
    flex-direction: row;
}

.bottom-row {
    display: flex;
    flex-direction: row;

}

.grid-image-one {
    height: 200px;
    width: 50%;
    background-image: url(./images/pexels-james-wheeler-1519088.jpg);
    background-size: cover;
    background-position: center;
}

.grid-image-two {
    height: 200px;
    width: 50%;
    background-image: url(./images/pexels-eyad-tariq-3879495.jpg);
    background-size: cover;
    background-position: center;
}

.grid-image-three {
    height: 200px;
    width: 50%;
    background-image: url(./images/pexels-karley-saagi-2801980.jpg);
    background-size: cover;
    background-position: center;
}

.grid-image-four {
    height: 200px;
    width: 50%;
    background-image: url(./images/pexels-nishant-aneja-2955820.jpg);
    background-size: cover;
    background-position: center;
}

.donuts-section {
    width: 100vw;
}

.row-one,
.row-two,
.row-three {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.grid-container {
    width: 30%;
    height: 300px;
    margin: 15px;
    background-size: cover;
    background-position: center;

}

.grid-container:hover {
    opacity: 0.8;
}

#donut-one {
    background-image: url(./images/pexels-alisha-mishra-1346215.jpg);
}

#donut-two {
    background-image: url(./images/77\ \(1\).jpg);
}

#donut-three {
    background-image: url(./images/pexels-eyad-tariq-3879495.jpg);

}


#donut-four {
    background-image: url(./images/pexels-igor-ovsyannykov-205961.jpg);

}

#donut-five {
    background-image: url(./images/77\ \(2\).jpg);

}

#donut-six {
    background-image: url(./images/pexels-james-wheeler-1519088.jpg);

}

#donut-seven {
    background-image: url(./images/pexels-karley-saagi-2801980.jpg);

}

#donut-eight {
    background-image: url(./images/pexels-nishant-aneja-2955820.jpg);

}

#donut-nine {
    background-image: url(./images/pexels-pixabay-269235.jpg);

}

.stores-section {
    width: 100vw;
}

.stores-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

.store-div {
    height: 200px;
    width: 30%;
    margin: 20px;
    text-align: center;
}

h4 {
    font-size: 150%;
}

p {
    line-height: 170%;
}

.Contact-section {
    width: 100vw;
    border: solid 2px pink;
    text-align: center;
    background-color: rgb(207, 19, 107);
}

.contact-title {
    color: #fff;
    font-size: 30px;
    margin: 20px;
    text-transform: uppercase;
}

.font-icons {
    font-size: 30px;
}

.email {
    font-size: 15px;
    color: #fff;
}